@import "../../../../../../media-queries";
@import "../../../../../../global-constants";

:host {
  cursor: pointer;
  position: relative;
  padding: 10px;
  // background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: fit-content;
  transition: 0.2s ease-in-out;

  >* {
    margin: 0;
  }

  >div {
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: $background-color;
    padding: 0.5rem;
    border-radius: 0.5rem;

    app-arrow-bottom-icon,
    app-arrow-right-left-icon {
      margin: 0 3px;
    }
  }

}